.title-header {
	display: flex;
	flex: 1;
	background: #252525;
	height: 300px;
	width: 100%;
}

.title-header h1 {
	color: white;
	width: 100%;
	align-items: center;
	justify-content: center;
	display: flex;
}

.overview-container {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.overview-box {
	margin: 20px;
}

.overview-box .fa {
	font-size: 60px;
}

.action-items {
	margin-top: 40px;
}

.margin-top {
	margin-top: 25px;
}

.margin-top-large {
	margin-top: 50px;
}

.padding-top-large {
	padding-top: 50px;
}

.portals {
	background: #252525;
	color: #fafafa;
	padding-bottom: 50px;
}

.portals-row {
	display: flex;
	justify-content: center;
}

.address-row {
	justify-content: center;
	flex-direction: row;
	display: flex;
}

.address-box {
	margin: 30px;
}

.stock-address {
	color: #939292;
	font-size: 16px;
}

.have-faith {
	margin-bottom: 50px;
}